.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  width: 160px;
  height: 220px;
  padding: 10px;
}
