.pressure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 10px;
    background: rgba(92, 238, 73, 0.244);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(245, 245, 245, 0.58);
    backdrop-filter: blur(13.2px);
    -webkit-backdrop-filter: blur(13.2px);
    width: 350px;
    height: 200px;
}