.card {
    width: 342px;
    height: 184px;
    position: relative;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .background {
    fill: linear-gradient(90deg, #5936b4 0%, #362a84 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  
  .cloud {
    position: absolute;
    right: 10;
    top: 15px;
  
    img{
      width: 100px;
      height: 100px;

    }

  }
  
  .mainText {
    font-size: 44px;
    z-index: 2;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
  
    .textGray {
      color: rgba(235, 235, 245, 0.6);
    }
  
    .infoRight {
      align-self: flex-end;
    }
  }
  

  .loaderContainer{
    position: absolute;
    bottom: 50px;
    left: 120px;
  }
  .loader {
    width: 80px;
    height: 40px;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      inset: 0 0 -100%;
      background: 
        radial-gradient(farthest-side, #ffd738 80%, transparent) left 70% top 20% / 15px 15px,
        radial-gradient(farthest-side, #020308 92%, transparent) left 65% bottom 19% / 12px 12px,
        radial-gradient(farthest-side, #ecfefe 92%, transparent) left 70% bottom 20% / 15px 15px,
        linear-gradient(#9eddfe 50%, #020308 0);
      background-repeat: no-repeat;
      animation: l5 2s infinite;
    }
  }
  
  @keyframes l5 {
    0%, 20% {
      transform: rotate(0);
    }
    40%, 60% {
      transform: rotate(0.5turn);
    }
    80%, 100% {
      transform: rotate(1turn);
    }
  }
  