
.navbar{
  display: block;

  @media (max-width: 710px){
    display: flex !important;
    justify-content: space-between;
  }
}

.icon{
  height: 80px;
  width: 80px;
}


.title{
  display: block;

  @media (max-width: 750px){
    display: none !important;
  }
}

.btns{
  display: flex;
  gap: 20px;
}

.searchbar{
  width: 400px !important;

  @media (max-width: 900px){
    width: 250px !important;
  }
  @media (max-width: 780px){
    width: 200px !important;
  }
}
