.home{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 3rem;
    height: auto;

    gap: 20px;

}

.current{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2{
        font-size: larger;
        color: rgb(110, 110, 166);
    }
}


.forecast{
    display: flex;
    flex-direction: column;
    gap: 20px
}
